*
*/
!*/
!.gitignore
!exercises/*
!exercises/advanced_errors/*
!exercises/clippy/*
!exercises/collections/*
!exercises/conversions/*
!exercises/enums/*
!exercises/error_handling/*
!exercises/functions/*
!exercises/generics/*
!exercises/if/*
!exercises/macros/*
!exercises/modules/*
!exercises/move_semantics/*
!exercises/option/*
!exercises/primitive_types/*
!exercises/standard_library_types/*
!exercises/strings/*
!exercises/structs/*
!exercises/tests/*
!exercises/threads/*
!exercises/traits/*
!exercises/variables/*

